<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_AnyCallbackService" />
                <binding name="NetTcpBinding_ApontamentoDPAServices" />
                <binding name="NetTcpBinding_AtributosServices" />
                <binding name="NetTcpBinding_ColaboradorServices" />
                <binding name="NetTcpBinding_ComissaoServices" />
                <binding name="NetTcpBinding_ConfEntradaServices" />
                <binding name="NetTcpBinding_CustomerAppServices" />
                <binding name="NetTcpBinding_CustomerServices" />
                <binding name="NetTcpBinding_InvoiceServices" />
                <binding name="NetTcpBinding_OccurrenceServices" />
                <binding name="NetTcpBinding_PedidoMovimentacaoServices" />
                <binding name="NetTcpBinding_ProductServices" />
                <binding name="NetTcpBinding_PurchaseRequisitionServices" />
                <binding name="NetTcpBinding_ResumoPedidos" />
                <binding name="NetTcpBinding_SalesforcePerfisServices" />
                <binding name="NetTcpBinding_wmsRemessaServices" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AnyCallbackService"
                contract="Oxfordonline.Integration.AnyCallbackService" name="NetTcpBinding_AnyCallbackService">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ApontamentoDPAServices"
                contract="Oxfordonline.Integration.ApontamentoDPAServices"
                name="NetTcpBinding_ApontamentoDPAServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AtributosServices"
                contract="Oxfordonline.Integration.AtributosServices" name="NetTcpBinding_AtributosServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ColaboradorServices"
                contract="Oxfordonline.Integration.ColaboradorServices" name="NetTcpBinding_ColaboradorServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ComissaoServices"
                contract="Oxfordonline.Integration.ComissaoServices" name="NetTcpBinding_ComissaoServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ConfEntradaServices"
                contract="Oxfordonline.Integration.ConfEntradaServices" name="NetTcpBinding_ConfEntradaServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CustomerAppServices"
                contract="Oxfordonline.Integration.CustomerAppServices" name="NetTcpBinding_CustomerAppServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CustomerServices"
                contract="Oxfordonline.Integration.CustomerServices" name="NetTcpBinding_CustomerServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InvoiceServices"
                contract="Oxfordonline.Integration.InvoiceServices" name="NetTcpBinding_InvoiceServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_OccurrenceServices"
                contract="Oxfordonline.Integration.OccurrenceServices" name="NetTcpBinding_OccurrenceServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PedidoMovimentacaoServices"
                contract="Oxfordonline.Integration.PedidoMovimentacaoServices"
                name="NetTcpBinding_PedidoMovimentacaoServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ProductServices"
                contract="Oxfordonline.Integration.ProductServices" name="NetTcpBinding_ProductServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PurchaseRequisitionServices"
                contract="Oxfordonline.Integration.PurchaseRequisitionServices"
                name="NetTcpBinding_PurchaseRequisitionServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ResumoPedidos"
                contract="Oxfordonline.Integration.ResumoPedidos" name="NetTcpBinding_ResumoPedidos">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SalesforcePerfisServices"
                contract="Oxfordonline.Integration.SalesforcePerfisServices"
                name="NetTcpBinding_SalesforcePerfisServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax201203:8201/DynamicsAx/Services/WSIntegratorServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_wmsRemessaServices"
                contract="Oxfordonline.Integration.wmsRemessaServices" name="NetTcpBinding_wmsRemessaServices">
                <identity>
                    <userPrincipalName value="svc.aos@oxford.ind.br" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>